<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Continent</key>
		<string>Africa</string>
		<key>Countries</key>
		<array>
			<dict>
				<key>Country</key>
				<string>South Africa</string>
				<key>Capital</key>
				<string>Cape Town</string>
				<key>Flag</key>
				<string>SA</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Egypt</string>
				<key>Capital</key>
				<string>Cairo</string>
				<key>Flag</key>
				<string>eg</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Algeria</string>
				<key>Capital</key>
				<string>Algiers</string>
				<key>Flag</key>
				<string>al</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Cameroon</string>
				<key>Capital</key>
				<string>Yaoundé</string>
				<key>Flag</key>
				<string>ca</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Mali</string>
				<key>Capital</key>
				<string>Bamako</string>
				<key>Flag</key>
				<string>ma</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Continent</key>
		<string>Europe</string>
		<key>Countries</key>
		<array>
			<dict>
				<key>Country</key>
				<string>United Kingdom</string>
				<key>Capital</key>
				<string>London</string>
				<key>Flag</key>
				<string>uk</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Germany</string>
				<key>Capital</key>
				<string>Berlin</string>
				<key>Flag</key>
				<string>ge</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>France</string>
				<key>Capital</key>
				<string>Paris</string>
				<key>Flag</key>
				<string>fr</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Spain</string>
				<key>Capital</key>
				<string>Madrid</string>
				<key>Flag</key>
				<string>sp</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Italy</string>
				<key>Capital</key>
				<string>Roma</string>
				<key>Flag</key>
				<string>it</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Continent</key>
		<string>Asia</string>
		<key>Countries</key>
		<array>
			<dict>
				<key>Country</key>
				<string>Viet Nam</string>
				<key>Capital</key>
				<string>Ha Noi</string>
				<key>Flag</key>
				<string>vn</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Japan</string>
				<key>Capital</key>
				<string>Tokyo</string>
				<key>Flag</key>
				<string>jp</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Korea</string>
				<key>Capital</key>
				<string>Seul</string>
				<key>Flag</key>
				<string>kr</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Laos</string>
				<key>Capital</key>
				<string>Vientiane</string>
				<key>Flag</key>
				<string>la</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>India</string>
				<key>Capital</key>
				<string>New Delhi</string>
				<key>Flag</key>
				<string>in</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Continent</key>
		<string>Oceania</string>
		<key>Countries</key>
		<array>
			<dict>
				<key>Country</key>
				<string>Australia</string>
				<key>Capital</key>
				<string>Canberra</string>
				<key>Flag</key>
				<string>au</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>New Zealand</string>
				<key>Capital</key>
				<string>Wellington</string>
				<key>Flag</key>
				<string>nz</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Papua New Guinea</string>
				<key>Capital</key>
				<string>Port Moresby</string>
				<key>Flag</key>
				<string>png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Continent</key>
		<string>Americas</string>
		<key>Countries</key>
		<array>
			<dict>
				<key>Country</key>
				<string>United States</string>
				<key>Capital</key>
				<string>Washington, D.C.</string>
				<key>Flag</key>
				<string>us</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Canada</string>
				<key>Capital</key>
				<string>Ottawa</string>
				<key>Flag</key>
				<string>cnd</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Argentina</string>
				<key>Capital</key>
				<string>Buenos Aires</string>
				<key>Flag</key>
				<string>ar</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Brazil</string>
				<key>Capital</key>
				<string>Brasília</string>
				<key>Flag</key>
				<string>br</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>Mexico</string>
				<key>Capital</key>
				<string>Mexico City</string>
				<key>Flag</key>
				<string>me</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
